<td><%= patient_name %></td>
<td><%= user_name %> <button class="iconBtn"><i class="icon-rss"></i></button></td>
<td><%= document_name %></td>
<td><%= status %></td>
<td><%= priority %></td>
<td><%= server %></td>
<td><abbr class="timeago" title="<%= iso8601_timestamp %>"><%= human_timestamp %></abbr></td>
<td class="icons"><button class="iconBtn"><i class="icon-remove"></i></button></td>